@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=DynaPuff&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background-image: url(src/brasil.jpg);
  background-repeat: no-repeat;
 background-size: cover;
  
}

body h2 {
  color: white;
  font-family: 'Anonymous Pro', monospace;
font-family: 'DynaPuff', cursive;
font-size: 3rem;
}

main {
  background-color: rgba(252, 252, 252, 0.356);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1976ccf3;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}

.question{
  font-family: 'EB Garamond', serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

.corTitulo{
  background: linear-gradient(90deg, rgb(236, 236, 32), rgba(25, 231, 25, 0.822), rgb(236, 236, 38));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}