*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
    background-image: url(/img/geografia-.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

.button{
  padding: 10px 70px;
  background-color: rgba(222, 252, 252, 0.356);
  width: 200px;
  height: 60px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
  border: 4px solid black;
}



.sair2 {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  margin: 30px;
  background-color: rgb(129, 125, 125);
  font-size: 15px;
  color: white;
}